body {
    background-color: #efefef;
 }
 
 
 
 
 
 
 .container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
 }
 
 
 .custom-list {
    list-style-type:none ;
    padding-left: 20px;
 }
 
 
 .custom-list li:before {
    content: "\2022";
    font-size: 18px;
    padding-right: 10px;
 }
 
 
 .custom-list ol {
    list-style-type: decimal;
 }
 
 
 .bold{
    font-weight: bold;
 }
 
 
 .lineoftext{
    font-weight: normal;
    font-style: italic;
    color: darkgray;
    text-decoration: underline;
 }
 
 
 .normaltext{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
 }
 
 
 .heading{
    font-style: oblique;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }
 
 
 .custom-image {
    max-width: 100%;
    height: auto;
 }
 
 
 .custom-video {
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
 }
 
 
 .custom-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
 }
 